<style type="text/css">

.style1 {   color: #000000;
            font-size: 9px;
            font-family: tahoma;
            font-weight: bold;
            padding-left: 10px; }

.pageHeading { color: #030089;
               font-size: 16px;
               font-family: tahoma, helvetica, sans-serif;
               font-weight: bold; }

.infoHeader  { color: #2c57a7;
              font-size: 11px;
              font-family: tahoma, helvetica, sans-serif;
              font-weight: bold; }

.detailHeader{ color: black;
              font-size: 12px;
              font-family: tahoma, helvetica, sans-serif;
              font-weight: bold; }

.banner     { color: #030089;
              font-size: 21px;
              font-family: tahoma;
              font-weight: bold;
              padding-left: 10px; }

div#section    { color: #ffffff;
              font-size: 14px;
              font-family: tahoma;
              font-weight: bold;
              background: #030089; 
              text-decoration: none; }

div#section1    { color: #ffffff;
              font-size: 14px;
              font-family: tahoma;
              font-weight: bold;
              background: #030089; 
              text-decoration: none; }

div#section2    { color: #ffffff;
              font-size: 14px;
              font-family: tahoma;
              font-weight: bold;
              background: #030089; 
              text-decoration: none; }

.menubackground { background: #2c57a7; }

.menuLink   { color: #ffffff;
              font-size: 9px;
              font-family: tahoma;
              text-decoration: none; 
              background: #2c57a7}

a.menuLink:hover { color: #ffffff;
                   font-size: 9px;
                   font-family: tahoma;
                   font-weight: bold;
                   text-decoration: underline; }

a       { color: #030089; text-decoration: none; }
a:hover { color: #2c57a7; text-decoration: underline; }

h1      { color: #030089;
          font-weight: bold;
          font-size: 16px;
          font-family: tahoma; }

body, td, p { color: #000000;
              font-size: 9px;
              font-family: tahoma; }

th	    { font-size: 9px;
              font-family: tahoma;
	      background-color: #030089;
	      color: white;  }
			
.cBoxText	{ font-size: 9px; 
                  font-family: tahoma; }
.tBoxText       { font-size: 9px; 
                  font-family: tahoma; }
.tAreaText      { font-size: 9px; 
                  font-family: tahoma; }
.copyright      { font-size: 9px; 
                  font-family: tahoma; 
                  color: white }

div#pagetop     { background: #fff}
div#pagebottom     { background: #fff}

TD.hover    { COLOR: #030089; font-weight: bold; cursor: pointer; }
TD.normal   { COLOR: #000000; font-weight: normal; CURSOR: default; }
TD.selected { COLOR: #030089; font-weight: bold; }

.linkMenu   { color: #ffffff; font-size: 9px; font-family: tahoma; font-weight: bold; }
.button     {
	background: #030089;
	color: #fff;
	font-size: 100%;
	font-weight: bold;
        }

b.rtop, b.rbottom{display:block;background: #2c57a7}
b.rtop b, b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #fff}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

</style>